<h1>Editing Book</h1>
<div class="field">
    <label for="book_title">Title</label>
</div>
<div class="field">
    <label for="book_body">Body</label>
<div>
<div class="actions">
    <input type="submit" name="commit" value="Update Book"data-disable-with="Update Book"
  >
</div>
</form>
<td><%= link_to "Show",book_path(book.id) %></td>
|
<td><%= link_to "Back",book_patch(book.id) %></td>

